@import "../variables.scss";

.header__container {
    position: relative;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.header-logo-block__img {
    width: 100px;
    margin-bottom: 10px;
}

.header-logo-block {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    cursor: pointer;
}

.header-navigation__list {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.header-navigation__item:not(:last-of-type) {
    margin-right: 20px;
}

.header-navigation-block__button {
    width: 200px;
    height: 30px;
    background-color: $palitra_2;
    color: #ffffff;
    cursor: pointer;
}





@media only screen and (max-width: 1280px) {
    .container {
        width: 1000px;
    }

    .header-logo-block {
        margin-right: 17px;
    }

    // .search-input-block {
    //     width: 656px;
    //     margin-right: 20px;
    // }

    // .search-input-block_guest {
    //     width: 570px;
    // }

    // .search-input {
    //     width: 546px;
    //     height: 30px;
    // }

    // .search-input_guest {
    //     width: 458px;
    // }

    // .search-icon {
    //     top: 2px;
    //     right: -2px;
    // }
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 960px;
    }

    // .button-catalog {
    //     margin-right: 10px;
    // }

    // .search-input-block {
    //     width: 648px;
    //     margin-right: 10px;
    // }

    // .header-basket-block__list:not(:last-of-type) {
    //     margin-right: 10px;
    // }

    // .search-input-block_guest {
    //     width: 523px;
    // }

    // .search-input {
    //     width: 540px;
    // }

    // .search-input_guest {
    //     width: 414px;
    // }

    // .search-icon {
    //     top: 2px;
    //     right: 0px;
    // }
}

@media only screen and (max-width: 960px) {
    .container {
        width: 800px;
    }

    // .search-input-block {
    //     width: 488px;
    //     margin-right: 10px;
    //     margin-bottom: 6px;
    // }

    // .search-input-block_guest {
    //     width: 486px;
    //     margin-bottom: 16px;
    // }

    // .button-catalog_guest {
    //     margin-right: 8px;
    // }

    // .search-input {
    //     width: 384px;
    // }

    // .search-input_guest {
    //     width: 386px;
    // }

    // .search-icon {
    //     top: 2px;
    //     right: 0px;
    // }

    // .header-navigation-block__top {
    //     margin-bottom: 0px;
    // }

    // .header-validation-block__guest {
    //     flex-direction: column;
    // }

    // .header-navigation__item {
    //     width: 152px;
    // }

    // .button-verification {
    //     width: 100px;
    //     height: 30px;
    //     font-size: 14px;
    //     margin-right: 0px;
    //     margin-bottom: 10px;
    // }

    // .button-registrasion {
    //     width: 100px;
    //     height: 30px;
    //     font-size: 14px;
    //     margin-right: 0px;
    // }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 640px;
    }

    // .header-logo-block,
    // .header-logo-block_guest {
    //     margin-right: 8px;
    // }

    // .search-input-block {
    //     width: 424px;
    // }

    // .search-input-block_guest {
    //     width: 444px;
    // }

    // .header-navigation__item {
    //     width: 134px;
    //     font-size: 14px;
    // }

    // .header-navigation__item_guest {
    //     width: 132px;
    //     font-size: 14px;
    // }

    // .header-navigation__item:not(:last-of-type),
    // .header-navigation__item_guest:not(:last-of-type) {
    //     margin-right: 8px;
    // }

    // .search-input {
    //     width: 320px;
    // }

    // .search-input_guest {
    //     width: 346px;
    // }

    // .button-verification {
    //     width: 88px;
    //     height: 30px;
    //     font-size: 12px;
    //     margin-right: 0px;
    //     margin-bottom: 4px;
    // }

    // .button-registrasion {
    //     width: 88px;
    //     height: 30px;
    //     font-size: 12px;
    //     margin-right: 0px;
    // }

    // .header-basket-block-icon__img {
    //     width: 30px;
    // }

    // .header-basket-block-icon__item_mobile {
    //     display: none;
    // }
}

@media only screen and (max-width: 640px) {
    .container {
        width: 480px;
    }

    .header__container {
        margin-bottom: 0px;
    }

    .contact-header-block__adress,
    .header-logo-block {
        display: none;
    }

    .header__container {
        flex-direction: column;
    }

    // .search-input-block {
    //     width: 490px;
    //     margin-right: 0px;
    // }

    // .search-input {
    //     width: 382px;
    // }

    // .header-navigation-block {
    //     margin-bottom: 20px;
    // }

    // .contact-header-block {
    //     padding-left: 0px;
    //     margin-bottom: 8px;
    // }

    // .header-validation-block__guest,
    // .header-basket-block {
    //     display: none;
    // }

    // .header-basket-block_mobile {
    //     display: flex !important;
    // }

    // .contact-header-block {
    //     align-items: flex-start;
    //     justify-content: space-between;
    // }

    // .contact-header-block__phone {
    //     margin-right: 8px;
    // }

    // .contact-header-block__email {
    //     padding-left: 20px;
    //     margin-right: 8px;
    // }

    // .header-validation-block__guest_mobile {
    //     display: flex !important;
    //     flex-direction: row;
    // }

    // .button-verification {
    //     margin-right: 8px;
    // }

}