@import "../variables.scss";



.portfolio-section {
    margin-bottom: 80px;
}

.portfolio-section__container {
    position: relative;
    padding-left: 20px;
    background-color: $palitra_4;
}

.portfolio-section__img {
    border-radius: 10px;
    border: 10px solid #ffffff;
    margin-right: 20px;
}

.portfolio-section__title {
    position: absolute;
    top: 16px;
    left: 20px;
    font-size: 32px;
    font-weight: 700;
    color: $palitra_2;
}

.examples-block {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 23px;
    padding-left: 20px;
    width: 100%;
    height: 340px;
    background-color: $palitra_4;
}


.examples-block__img_1 {
    width: 218px;
    height: 203px;
    background-image: url(../../img/production-page-image/examples-block__img_1.jpg);
}

.examples-block__img_2 {
    width: 413px;
    height: 247px;
    background-image: url(../../img/production-page-image/examples-block__img_2.jpg);
}

.examples-block__img_3 {
    width: 230px;
    height: 294px;
    background-image: url(../../img/production-page-image/examples-block__img_3.jpg);
}

.portfolio-section__title-block {
    width: 283px;
    padding-bottom: 80px;
}

.ps__title {
    font-size: 28px;
    font-weight: 600;
}

.ps__discr__discr {
    font-size: 20px;
    font-weight: 200;
    line-height: 24px;
    color: $palitra_2;
}

.ps__button {
    position: absolute;
    top: 270px;
    right: -10px;
    width: 300px;
    height: 80px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    background-color: $palitra_4;
    border: 10px solid #ffffff;
    cursor: pointer;
}

.ps__button:hover {
    background-color: $palitra_2;
    color: #ffffff;
}


@media only screen and (max-width: 1280px) {
    .examples-block__img_3 {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
   .examples-block__img_1 {
        margin-right: 10px;
    }

    .ps__button {
        width: 310px;
        height: 110px;
        padding-top: 8px;
    }
}

@media only screen and (max-width: 960px) {}

@media only screen and (max-width: 800px) {}
