@import '../variables.scss';



.production-main-section__container {
    position: relative;
    margin-bottom: 60px;
}


.production-main-section__title-block {
    position: absolute;
    top: 130px;
    left: 560px;
}

.pms-title-block__title {
    font-size: 96px;
    line-height: 96px;
    font-weight: 900;
    text-shadow: 2px 2px 4px #ffffff, 0 0 1em #ffffff, 0 0 0.2em #ffffff;
    margin-bottom: 40px;
}

.pms-title-block__discr {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    font-size: 32px;
    background-color: #ffffff;
}

@media only screen and (max-width: 1280px) {
    .production-main-section__title-block {
        top: 100px;
        left: 410px;
    }
    
    .pms-title-block__title {
        font-size: 74px;
        line-height: 74px;
        margin-bottom: 30px;
    }
    
    .pms-title-block__discr {
        font-size: 23px;
    }

}

@media only screen and (max-width: 1024px) {
    .production-main-section__title-block {
        top: 90px;
        left: 390px;
    }
        
    .pms-title-block__title {
        font-size: 72px;
        line-height: 72px;
    }
        
    .pms-title-block__discr {
        font-size: 23px;
    }
}

@media only screen and (max-width: 960px) {
    .production-main-section__title-block {
        top: 100px;
        left: 340px;
    }

    .pms-title-block__title {
        font-size: 60px;
        line-height: 60px;
    }

    .pms-title-block__discr {
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px) {}