
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@media only screen and (max-width: 800px) {

    .container {
        width: 100%;
        min-width: 100%;
        padding: 0px;
    }

    /* ------------ header ------------------ */

    .mobile-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 120px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: #F7FAFB;
        margin-bottom: 10px;
    }
    
    .header__container,
    .haader__line,
    .haader__square,
    .discription-product-section__title,
    .NKUPages_h1,
    .main-section__desktop,
    .feedback-section {
        display: none;
    }

    .mobile-container {
        width: 760px;
        margin-right: auto;
        margin-left: auto;
    }

    .mobile-container__header-block {
        padding-top: 20px;
    }

    .mobile-haeder-block {
        display: flex;
        padding-top: 12px;
        padding-left: 10px;
        width: 100%;
        background-color: #6F7172;
        height: 80px;
        border-radius: 10px;
    }

    .mobile-haeder-block__img {
        margin-right: 28px;
    }

    .mobile-haeder-block__nivigaton {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    .mhb-nivigiton__contact-list {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px !important;
    }

    .mhbn-contact-list__item {
        padding-left: 20px;
        font-size: 10px;
        line-height: 14px;
        color: #F7FAFB;
        background-repeat: no-repeat;
    } 

    .mhbn-contact-list__item:not(:last-of-type) {
        margin-right: 10px;
    }

    .mhbn-contact-list__item:nth-child(2) {
        padding-left: 16px;
    }

    .mhbn-contact-list__item:nth-child(3) {
        padding-left: 30px;
    }
    
    .phone-item {
        background-image: url(../img/mobile-icon-phone-header.svg);
    }

    .adress-item {
        background-image: url(../img/mobile-icon-addres-header.svg);
    }

    .email-item {
        background-image: url(../img/mobile-icon-email-header.svg);
    }

    .header-searche-block {
        display: flex;
        margin-bottom: 4px;
    }

    .header-searche-block__button-catalog {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 119px;
        height: 20px;
        background-color: #F3DE09;
        color: #1D252C;
        font-size: 12px;
        font-weight: 600;
        margin-right: 10px;
        border-radius: 2px;
    }

    .header-searche-block__input-searhe {
        width: 375px;
        height: 20px;
        background-color: #FFFFFF;
        border-radius: 2px;
        margin-right: 10px;
    }

    .header-searche-block__button-room {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 108px;
        height: 20px;
        color: #FFFFFF;
        font-size: 10px;
        font-weight: 400;
        background-color: #9A9C9C;
        border-radius: 4px;
    }

    .header-searche-block__button-room:hover {
        background-color: #F3DE09;
        color: #1D252C;
    }

    .navigation-list {
        display: flex;
    }

    .navigation-list__item {
        color: #FFFFFF;
        font-size: 10px;
        font-weight: 400;
        margin-right: 20px;

    }

    .card-component:last-child(4) {
        display: inline;
    }

    /* ------------ main-section__mobile ------------- */

    .button-block-row {
        display: flex;
    }

    .main-section__mobile {
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding: 20px;
        height: 200px;
        border-radius: 20px;
        background-color: #F7FAFB;
        margin-bottom: 10px;
    }

    .msm-backround-block {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 150px;
        border-radius: 10px;
        background: linear-gradient(135deg, #F0F1F3, #059134);
    }

    .msm-backround-block__img {
        position: absolute;
        top: -10px;
        left: 140px;
        height: 180px;
    }

    .msm-bb-d__logo {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 80px;
    }

    .msm-bb-d__ch-znack {
        position: absolute;
        top: 104px;
        left: 20px;
    }

    .msm-backround-block__discr-block {
        margin-right: 40px;
    }

    .msm-bb-db__title {
        font-family: "Oswald", sans-serif;
        font-size: 30px;
        font-weight: bold;
    }

    .msm-bb-db__discr_big {
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
    }

    .msm-bb-db__discr_min {
        font-size: 12px;
        font-weight: 200;
        margin-bottom: 10px;
    }

    .msm-bb-db__button,
    .msm-bb-db__button_tut {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 20px;
        font-size: 8px;
        font-weight: 500;
        border-radius: 4px;
        background-color: #F3DE09;
        color: #342F2C;
    }

    .msm-bb-db__button {
        margin-right: 4px;
    }

    .msm-bb-db__button_tut {
        background-color:#342F2C;
        color: #F3DE09;
    }

    .msm-bb-db__button_null {
        display: none;
    }


    .msm-bb-d__discr {
        padding-right: 20px;
    }

    .msm-bb-d-discr__price {
        font-family: "Oswald", sans-serif;
        font-size: 26px;
        line-height: 30px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .msm-bb-d-discr__quantity {
        display: flex;
        margin-bottom: 4px;
    }

    .msm-bb-d-discr__quantity_name,
    .msm-bb-d-discr__quantity__quantity,
    .msm-bb-d-discr__quantity__discr {
        font-size: 10px;
        margin-right: 6px;
        color: #F3DE09;
    }

    .msm-bb-d-discr__quantity_null div {
        color: #FFFFFF;
    }

    /* -------------- attention-section ---------------------*/

    .attention-section {
        display: flex;
        padding: 20px;
        border-radius: 20px;
        background-color: #F7FAFB;
        margin-bottom: 10px;
    }

    .attention-section__title-block {
        padding-left: 12px;
    }

    .attention-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .attention-section__mobile-hr {
        display: none;
    }

    .attention-section-title-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 4px;
    }

    .attention-section-title-icon__icon {
        height: 16px;
    }

    .attention-section-title__title {
        font-size: 28px !important;
    }

    .attention-section__discription {
        padding: 10px;
        font-size: 12px;
    }

    /* ----------------- technical-section --------------------*/

    .technical-section {
        width: 100%;
        border-radius: 20px;
        background-color: #F7FAFB;
        padding: 20px;
        margin-bottom: 10px !important;
    }

    .technical-section__title,
    h3 {
        padding: 0px;
    }
    
    .mt-5 {
        margin-top: 0px !important;
    }

    .technical-specifications-list__item {
        justify-content: space-between;
    }

    .technical-section__container {
        padding: 20px;
        border-radius: 20px;
        border: 1px solid #F3DE09;
    }

    .specifications-item__name {
        width: 100%;
        font-size: 14px;
        height: 40px;
        line-height: 16px;
        border-radius: 4px;
    }

    .specifications-item__tech {
        font-size: 14px;
        width: 230px;
        height: 40px;
        line-height: 16px;
        border-radius: 4px;
        padding-right: 10px;
    }

    /*---------- document-section -------------*/
    
    .document-section {
        width: 100%;
        background-color: #F7FAFB;
        border-radius: 20px;
        padding: 20px;
        border: 0px;
        margin-bottom: 10px;
    }

    .document-section__container {
        padding: 30px;
        border: 1px solid #059134;
        border-radius: 20px;
    }

    .document-section__img {
        top: 38px;
        right: 51px;
    }

    .files-and-documents-section__item {
        font-size: 14px;
    }

    /*------------------ please-note-section ----------------*/

    .please-note-section {
        padding: 20px;
        background-color: #F7FAFB;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .please-note-section__title {
        margin-bottom: 10px;
    }

    .please-note-section__card-product div:nth-child(4) {
        display: none;
    }

    .card-component {
        width: 246px;
        height: 310px;
        border-radius: 10px;
        border: 1px solid  #059134;
        background-color: #F7FAFB;
    }

    .card-component:nth-child(3) {
        margin-right: 0px;
    }

    .card-component:nth-child(2) {
        margin-right: 10px;
    }

    .card-component__price-block {
        margin-bottom: 0px;
    }

    .card-component__img {
        height: 90px;
    }

    /*----------------- footer ------------------------*/
    .footer{
        padding: 20px;
    }

    .footer__content {
        justify-content: space-between;
    }

    .footer-contact-item__icon {
        width: 50px;
        text-align: center;
        margin-right: 0px;
    }

}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 480px) {


}
