@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

header {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0;
  margin: 0;
}

.h1-min {
  font-size: 0.1px;
  line-height: 0.1px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Выставляем основные настройки по-умолчанию для body */
body {
    font-family: "Mulish", serif;
}

main {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 28px;
    margin-bottom: 40px;
}

.h1-min {
    font-size: 0.1px;
    line-height: 0.1px;
}

a {
    color: #1D252C;
}

a:hover {
    color: #F3DE09;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/* --------- Header --------------*/
header {
    position: relative;
    padding: 0px;
    margin: 0px;
}

.header__container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.header-logo-block__img {
    width: 100px;
    margin-bottom: 10px;
}

.header-logo-block {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    cursor: pointer;
}

.header-navigation__list {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.header-navigation__item:not(:last-of-type) {
    margin-right: 20px;
}

.header-navigation__item a {
    color: #6F7172;
}

.header-navigation__item:hover a {
    font-weight: 600;
    color: #1D252C;
}

.header-navigation-block__button {
    width: 200px;
    height: 30px;
    padding-top: 2px;
    text-align: center;
    background-color: #1D252C;
    color: #F3DE09;
    cursor: pointer;
}

.haader__line {
    position: absolute;
    right: 12px;
    bottom: 0px;
    width: 78%;
    height: 30px;
    border-top-left-radius: 10px;
    background-color: #F7F7F5;
    transform: skew(-35deg);
}

.haader__square {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 60px;
    height: 30px;
    background-color: #F7F7F5;
}


/* -------------- Main section ----------------*/
.home-main-section__top {
    padding-top: 50px;
    background: linear-gradient(to right, #F3DE09 50%, #FFFFFF 50%);
}

.home-main-section__bottom {
    padding-top: 50px;
    background: linear-gradient(to right,  #FFFFFF 50%, #F3DE09 50%);
    margin-bottom: 50px;
}

.home-main-section__container__top {
    position: relative;
    display: flex;
    justify-content: flex-start;
    background-color: #FFFFFF;
    z-index: 1;
}

.home-main-section__container__bottom {
    position: relative;
    background-color: #FFFFFF;
    z-index: 1;
}


.home-main-section__title-block {
    position: relative;
}

.home-main-section__title {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 48px;
    font-weight: 900;
    z-index: 2;
}

.hms-title__fon {
    position: absolute;
    top: 47px;
    left: 8px;
    width: 520px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 30px;
}

.hms-title__discr {
    padding: 100px 0px 50px 0px;
    width: 757px;
    font-size: 20px;
}

.home-main-section__title-block_big {
    position: relative;
    display: flex;
}

.home-main-section__title_big {
    width: 856px;
    font-size: 128px;
    font-weight: 900;
    line-height: 110px;
    margin-bottom: 80px;
}

.hms-title__logo {
    position: absolute;
    left: 747px;
    bottom: 66px;
}

.hms-bottom__img {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.top-bord {
    position: absolute;
    width: 700px;
    height: 320px;
    top: -50px;
    left: 0px;
    background: #F3DE09;
}

.bottom-bord {
    position: absolute;
    width: 640px;
    height: 350px;
    bottom: 0px;
    right: 0px;
    background: #F3DE09;
}

.top-shape {
    position: absolute;
    width: 350px;
    height: 320px;
    background: #F3DE09;
    bottom: 0;
    left: 700px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}


.bottom-shape {
    position: absolute;
    width: 350px;
    height: 350px;
    background: #F3DE09;
    bottom: 0;
    left: 290px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    transform: rotateY(180deg) rotateX(180deg);
}


/* ------------------- Footer --------------------  */


.footer {
  height: 400px;
  padding-top: 40px;
  background-color: #1D252C;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer__content {
  display: flex;
}

.footer-logo-block,
.footer-nav,
.footer-contact {
  width: 413px;
}

.footer-nav {
  display: block;
  margin-right: 20px;
}

.footer-nav__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}

.footer-nav__item:not(:last-of-type) {
  margin-bottom: 2px;
}

.footer-contact__item {
  display: flex;
  margin-bottom: 20px;
}

.footer-contact__item:not(:last-of-type) {
  margin-bottom: 8px;
}

.footer-contact-item__icon {
  margin-right: 20px;
}

.footer-contact-item__text {
  color: #ffffff;
}

.footer-logo-block__logo {
  margin-bottom: 140px;
}

.footer__copyright {
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;
  color: #FFFFFF;
}


/* --------------------- please-note-section  --------------------- */

.please-note-section {
    margin-bottom: 100px;
}

.please-note-section__title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}

.please-note-section__card-product  {
    display: flex;
    flex-wrap: wrap;
}

.please-note-section {
    margin-bottom: 100px;
}

.please-note-section__card-product  {
    display: flex;
}

.card-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 305px;
    height: 480px;
    padding: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    border: 1px solid #DFE0E1;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 0;
}


.card-component__top {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-component__bootom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-component:hover {
    border: 1px solid #F3DE09;
}

.card-component:nth-child(4) {
    margin-right: 0px;
}

.card-component:nth-child(8) {
    margin-right: 0px;
}

.card-component:nth-child(12) {
    margin-right: 0px;
}

.card-component:nth-child(16) {
    margin-right: 0px;
}

.card-component:nth-child(20) {
    margin-right: 0px;
}

.card-component__img {
    /* width: 140px; */
    height: 150px;
    margin-bottom: 20px;
}

.card-component__vendor {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #1D252C;
}

.card-component__name {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #3E6BA7;
    cursor: pointer;
}

.card-component__name:hover {
  color: #32C120;
}

.card-component__basket-block{
    display: flex;
}

.cc-basket-block__delivry-block {
    display: flex;
    justify-content: flex-end;
}

.basket-block__quantity-item  {
    display: flex;
    margin-right: 20px;
}

.delivry-block__quantity {
    padding-left: 24px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #32C120;
    background-image: url(../../public/images/check.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.delivry-block__quantity_0 {
    color: #D8D9DB;
    background-image: url(../../public/images/check_red.svg);
}   

.delivry-block__delivery-time {
    padding-left: 30px;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #6F7172;
    background-image: url(../../public/images/delivery-icon.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.card-component__price-block {
    margin-bottom: 20px;
}

.card-component__price {
    text-align: right;
    font-size: 34px;
    line-height: 30px;
    font-weight: 800;
    color: #1D252C;
    background-repeat: no-repeat;
    background-position: right;   
}

.card-component__price-nalog {
    text-align: right;
    font-size: 12px;
}

.quantity-item__minus,
.quantity-item__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 40px;
    font-weight: 900;
    background-color: #DFE0E1;
}

.quantity-item__minus:hover {
    background-color: #F3DE09;
    cursor: pointer;
}

.quantity-item__plus:hover {
    background-color: #F3DE09;
    cursor: pointer;
}

.quantity-item__input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    border: 1px solid #DFE0E1;
    font-size: 16px;
    font-weight: 500;
    color: #6F7172;
}

.basket-block__button {
    width: 152px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #1D252C;
    border: 0px;
    background-color: #DFE0E1;
}

.basket-block__button:hover {
    background-color: #F3DE09;
    cursor: pointer;
}

.basket-block__button.disabled {
    background-color: #ffffff;
    cursor: not-allowed;
    border: 0.5px solid #DFE0E1;
}

.quantity-item__minus, .quantity-item__plus {
    transition: transform 0.2s ease;
    cursor: pointer;
}

.quantity-item__minus:hover, .quantity-item__plus:hover {
    transform: scale(1.1);
}

.basket-block__button.added {
    background-color: green;
    color: white;
}

.switch-block {
    display: flex;
}

.directory-groups__filter-block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
}

.dg-filter-block__img-icon {
    margin-right: 10px;
}

.dg-filter-block__img-prod {
    height: 30px;
}


@media only screen and (max-width: 1280px) {
     .container {
        width: 1000px;
    }

    .home-main-section__title_big {
        width: 680px;
        font-size: 92px;
        line-height: 110px;
    }

    .hms-title__logo {
        left: 510px;
        bottom: 72px;
    }

    .bottom-bord {
        width: 494px;
        height: 350px;
    }

    .bottom-shape {
        width: 350px;
        height: 351px;
        bottom: 0;
        left: 157px;
    }

    .top-bord {
        width: 702px;
        height: 320px;
        top: -50px;
    }
}


@media only screen and (max-width: 1024px) {
    .container {
        width: 960px;
    }

    .home-main-section__top {
        padding-top: 20px;
    }

    .home-main-section__title {
        font-size: 46px;
    }

    .home-main-section__bottom {
        background: linear-gradient(to right, #FFFFFF 60%, #F3DE09 40%);
    }

    .home-main-section__title_big {
        width: 680px;
        font-size: 92px;
        line-height: 110px;
    }

    .hms-title__logo {
        left: 510px;
        bottom: 72px;
    }

    .bottom-bord {
        width: 453px;
        height: 350px;
    }

    .bottom-shape {
        width: 350px;
        height: 351px;
        bottom: 0;
        left: 157px;
    }

    .top-bord {
        width: 544px;
        height: 290px;
        top: -20px;
    }

    .top-shape {
        left: 544px;
        width: 210px;
        height: 290px;
    }

    .hms-title__discr {
        width: 530px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 960px) {
    .container {
        width: 800px;
    }
    .hms-title__logo {
        left: 344px;
        bottom: 63px;
    }

    .hms-title__fon {
        width: 520px;
    }

    .home-main-section__title_big {
        width: 366px;
        font-size: 64px;
        line-height: 77px;
    }

    .bottom-bord {
        width: 293px;
        height: 284px;
    }

}

@media only screen and (max-width: 800px) {
  .container {
    width: 640px;
  }

  .home-main-section {
    display: none;

  }
}