@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
.ip-main-section__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-height: 660px;
  padding-top: 80px;
}

.title-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
}

.title-block__slogan {
  font-weight: 300;
  color: #282826;
  margin-bottom: 10px;
}

.title-block__title {
  color: #282826;
  font-size: 84px;
  font-weight: 900;
  line-height: 84px;
  margin-bottom: 20px;
}

.title-block__discr {
  width: 600px;
  font-size: 24px;
  font-weight: 200;
  line-height: 35px;
  margin-bottom: 40px;
}

.title-block__button {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 4px;
  width: 305px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #B70610;
  font-size: 24px;
  font-weight: 400;
  color: #B70610 !important;
}

.ip-main-section-img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 542px;
  z-index: -1;
}

@media only screen and (max-width: 1280px) {
  .title-block__title {
    font-size: 78px;
    line-height: 78px;
  }
}
@media only screen and (max-width: 1024px) {
  .ip-main-section-img {
    width: 522px;
  }
}
.ip-interaction-process-section {
  margin-bottom: 80px;
}

.browser {
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  align-items: center;
  background-color: #E2E1DF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.browser__dot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
  background-color: #E2E1DF;
}

.browser__dot_red {
  background-color: #F01111;
}

.browser__dot_yellow {
  background-color: #F8CC1A;
}

.browser__dot_green {
  background-color: #2BBD63;
}

.bookmark {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 46px;
  top: 10px;
  left: 130px;
  width: 236px;
  height: 40px;
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #E2E1DF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ffffff;
  background-image: url(../img/ip-image/bookmark__icon.svg);
  background-repeat: no-repeat;
  background-position: left 20px center;
}

.bookmark__title {
  color: #E2E1DF;
}

.browser-body {
  display: flex;
  padding-left: 50px;
  align-items: center;
  width: 100%;
  height: 620px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: #E2E1DF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.browser-body__img {
  margin-right: 46px;
}

.browser-body__content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.browser-body-content__title {
  font-size: 32px;
  font-weight: 700;
  color: #282826;
  margin-bottom: 40px;
}

.browser-body-content__card {
  display: flex;
  align-items: center;
}

.browser-body-content__card:not(:last-of-type) {
  margin-bottom: 20px;
}

.browser-body-content-card__icon {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

.browser-body-content-card__icon1 {
  background-image: url(../img/ip-image/browser-body-content-card__icon1.svg);
}

.browser-body-content-card__icon2 {
  background-image: url(../img/ip-image/browser-body-content-card__icon2.svg);
}

.browser-body-content-card__icon3 {
  background-image: url(../img/ip-image/browser-body-content-card__icon3.svg);
}

.browser-body-content-card__item {
  font-size: 20px;
  font-weight: 300;
  color: #282826;
}

@media only screen and (max-width: 1280px) {
  .browser-body {
    position: relative;
    display: flex;
    padding-left: 50px;
    align-items: center;
    width: 100%;
    height: 500px;
  }

  .browser-body-content__title {
    margin-bottom: 20px;
  }

  .browser-body__img {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 230px;
    height: 186px;
  }

  .browser-body__content {
    padding-left: 200px;
  }
}
.ip-technical-task-section {
  margin-bottom: 140px;
}

.ip-technical-task-section__container {
  display: flex;
}

.form-technical-task {
  position: relative;
  width: 305px;
  height: 305px;
  border-radius: 10px;
  border: 1px solid #E2E1DF;
  margin-right: 20px;
}

.form-technical-task__title {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 32px;
  font-weight: 600;
}

.form-technical-task__button {
  position: absolute;
  bottom: 60px;
  left: 40px;
  width: 197px;
  height: 40px;
  border-radius: 10px;
  background-color: #B70610;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.ip-technical-task-section__title {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 20px;
}

.baner-technical-task {
  position: relative;
  width: 522px;
  height: 305px;
  border-radius: 10px;
  background-color: #B70610;
  margin-right: 20px;
}

.baner-technical-task__title {
  position: absolute;
  top: 50px;
  left: 40px;
  color: #E2E1DF;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 54px;
}

.baner-technical-task__baner-write {
  position: absolute;
  top: 180px;
  left: 20px;
  width: 482px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #E2E1DF;
  padding-top: 40px;
  padding-left: 30px;
}

.baner-write__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.baner-write__item {
  padding-right: 10px;
  font-size: 18px;
  font-weight: 100;
  color: #282826;
}

.baner-write__item_href {
  font-weight: 400;
}

.baner-write__item_href:hover {
  color: #B70610;
}

.baner-write__item:not(:last-of-type) {
  margin-bottom: 10px;
}

.discription-technical-task {
  position: relative;
  width: 405px;
}

.discription-technical-task__marker {
  position: absolute;
  top: 10px;
  left: -3px;
  width: 200px;
  height: 34px;
  border-radius: 8px;
  background-color: #B70610;
  z-index: -1;
}

.discription-technical-task__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.discription-technical-task__discr {
  font-size: 20px;
  font-weight: 300;
  color: #282826;
}

.discription-technical-task__discr:not(:last-of-type) {
  margin-bottom: 10px;
}

@media only screen and (max-width: 1280px) {
  .form-technical-task {
    width: 244px;
    height: 244px;
    border-radius: 10px;
    margin-right: 10px;
  }

  .form-technical-task__title {
    top: 20px;
    left: 14px;
    font-size: 26px;
  }

  .form-technical-task__button {
    bottom: 40px;
    left: 14px;
    width: 170px;
    height: 40px;
    border-radius: 8px;
    font-size: 16px;
    color: #FFFFFF;
  }

  .form-technical-task__button:hover {
    border: 1px solid #B70610;
    background-color: #FFFFFF;
  }

  .baner-technical-task {
    width: 410px;
    height: 244px;
    margin-right: 10px;
  }

  .baner-technical-task__title {
    position: absolute;
    top: 50px;
    left: 40px;
    color: #ffffff;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 54px;
  }

  .baner-technical-task__title {
    top: 20px;
    left: 20px;
    font-size: 42px;
  }

  .baner-technical-task__baner-write {
    top: 94px;
    width: 340px;
    height: 250px;
    padding-top: 12px;
    padding-left: 18px;
  }

  .baner-write__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .baner-write__item {
    padding-right: 10px;
    padding-left: 20px;
    font-size: 16px;
  }

  .baner-write__item:not(:last-of-type) {
    margin-bottom: 6px;
  }

  .discription-technical-task {
    width: 327px;
  }

  .discription-technical-task__marker {
    top: 7px;
  }

  .discription-technical-task__title {
    line-height: 40px;
    margin-bottom: 10px;
  }

  .discription-technical-task__discr {
    font-size: 16px;
  }

  .discription-technical-task__discr:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
.ip-portfolio-section {
  margin-bottom: 80px;
}

.ip-portfolio-section__title {
  margin-bottom: 40px;
}

.portfolio-card-block {
  display: flex;
  align-items: flex-end;
}

.portfolio-card-block__left-card {
  width: 412px;
  height: 550px;
  border-radius: 10px;
  margin-right: 20px;
  background-image: url(../img/ip-image/portfolio-card-block__left-card.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio-card-block__center-card {
  padding: 20px;
  padding-top: 50px;
  width: 412px;
  height: 600px;
  border-radius: 10px;
  margin-right: 20px;
  background-color: #B70610;
}

.portfolio-card-block__right-card {
  width: 412px;
  height: 550px;
  border-radius: 10px;
  margin-right: 20px;
  background-image: url(../img/ip-image/portfolio-card-block__right-card.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.pcb-cc-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pcb-cc-content__title {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 20px;
}

.pcb-cc-content__item {
  padding-left: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}

.pcb-cc-content__item:not(:last-of-type) {
  margin-bottom: 20px;
}

.pcb-cc-content__item:last-of-type {
  margin-bottom: 50px;
}

.pcb-cc-content__button {
  width: 305px;
  height: 50px;
  padding-top: 4px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  background-color: #B70610;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #ffffff !important;
}

@media only screen and (max-width: 1280px) {
  .portfolio-card-block__left-card {
    width: 327px;
    height: 436px;
    border-radius: 8px;
    margin-right: 10px;
  }

  .portfolio-card-block__center-card {
    padding: 16px;
    padding-top: 30px;
    width: 327px;
    height: 460px;
    border-radius: 8px;
    margin-right: 10px;
  }

  .portfolio-card-block__right-card {
    width: 327px;
    height: 436px;
    border-radius: 8px;
    margin-right: 0px;
  }

  .pcb-cc-content__title {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .pcb-cc-content__item {
    padding-left: 20px;
    font-size: 18px;
  }

  .pcb-cc-content__item:not(:last-of-type) {
    margin-bottom: 10px;
  }

  .pcb-cc-content__item:last-of-type {
    margin-bottom: 20px;
  }

  .pcb-cc-content__button {
    width: 250px;
    height: 50px;
    font-size: 20px;
  }
}
.ip-examples-section {
  margin-bottom: 80px;
}

.examples-block {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-bottom: 23px;
  padding-left: 20px;
  width: 100%;
  height: 340px;
  border-radius: 10px;
  background-color: #E2E1DF;
}

.examples-block__icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.examples-block__title {
  position: absolute;
  top: 16px;
  left: 80px;
  font-size: 32px;
  font-weight: 700;
  color: #282826;
}

.examples-block__img {
  border-radius: 10px;
  border: 10px solid #ffffff;
  margin-right: 20px;
}

.examples-block__img_1 {
  width: 218px;
  height: 203px;
  background-image: url(../../img/ip-image/examples-block__img_1.jpg);
}

.examples-block__img_2 {
  width: 413px;
  height: 247px;
  background-image: url(../../img/ip-image/examples-block__img_2.jpg);
}

.examples-block__img_3 {
  width: 230px;
  height: 294px;
  background-image: url(../../img/ip-image/examples-block__img_3.jpg);
}

.examples-block__title-block {
  width: 283px;
  padding-bottom: 80px;
}

.eb-title-block__title {
  font-size: 32px;
  font-weight: 600;
  color: #282826;
}

.eb-title-block__discr {
  font-size: 20px;
  font-weight: 200;
  line-height: 24px;
  color: #282826;
}

.examples-block__button {
  position: absolute;
  bottom: -60px;
  right: -20px;
  border-radius: 40px;
  border: 20px solid #ffffff;
  width: 323px;
  height: 120px;
  padding-top: 18px;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  color: #282826;
  background-color: #E2E1DF;
  cursor: pointer;
}

.examples-block__button:hover {
  background-color: #B70610;
  color: #ffffff;
}

@media only screen and (max-width: 1280px) {
  .examples-block__img_3 {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .examples-block__img_1 {
    margin-right: 10px;
  }

  .examples-block__button {
    width: 310px;
    height: 110px;
    padding-top: 8px;
  }
}
.feedback-section {
  max-width: 1280px;
  padding-top: 60px;
  padding-left: 20px;
  padding-bottom: 80px;
  border-radius: 10px;
  border: 1px solid #E2E1DF;
  background-color: #F4F4F4;
  margin-bottom: 60px;
}

.ip-feedback-section-container {
  display: flex;
}

.h2-ip-title-block {
  position: relative;
}

.ip-h2-section-title {
  position: relative;
  width: 800px;
  display: block;
  font-size: 32px;
  font-weight: 600;
  color: #282826;
  z-index: 3;
  margin-bottom: 8px;
}

.h2-ip-title-block__discr {
  width: 600px;
  font-size: 20px;
  font-weight: 100;
  color: #282826;
  margin-bottom: 20px;
}

.ip-h2-section-title_write {
  color: #ffffff;
}

.fon-h2-block {
  position: absolute;
  height: 40px;
  border-radius: 5px;
}

.ip-feedback-section-container__icon {
  position: relative;
  width: 100%;
}

.ip-feedback-section-container__icon_second-icon {
  position: absolute;
  top: 50px;
  right: 60px;
  width: 310px;
  height: 320px;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
  border-radius: 50px;
  background-color: #B70610;
}

.ip-feedback-section-container__icon_first-icon {
  position: absolute;
  top: 20px;
  right: 90px;
  width: 310px;
  height: 320px;
  border-radius: 50px;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
  background: linear-gradient(140deg, #C5C5C5 0%, rgba(255, 255, 255, 0.5) 100%);
  z-index: 2;
}

.fon-h2-block_feedback-section {
  top: 8px;
  left: 75px;
  width: 315px;
  background-color: #B70610;
}

.feedback-section__form {
  position: relative;
}

.feedback-section__input {
  padding-left: 8px;
  width: 197px;
  height: 40px;
  border-radius: 10px;
  background-color: #E2E1DF;
  border: 0.5px solid #E2E1DF;
}

.feedback-section__input:not(:last-of-type) {
  margin-right: 8px;
  margin-bottom: 8px;
}

.feedback-section__input_textarea {
  width: 616px;
  height: 100px;
  margin-bottom: 30px;
}

.feedback-section__button {
  width: 197px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
  background-color: #B70610;
  cursor: pointer;
}

.check-box {
  position: absolute;
  bottom: -60px;
  left: 0px;
  display: flex;
  padding-top: 8px;
}

.check-box__input {
  margin-right: 8px;
}

.check-box__pp-page {
  font-weight: 100;
  color: #282826 !important;
}

.check-box__pp-page:hover {
  font-weight: 300;
  color: #B70610 !important;
}


.home-main-section__top {
    padding-top: 50px;
    background: linear-gradient(to right, #F3DE09 50%, #FFFFFF 50%);
}

.home-main-section__bottom {
    padding-top: 50px;
    background: linear-gradient(to right,  #FFFFFF 50%, #F3DE09 50%);
    margin-bottom: 50px;
}

.home-main-section__container__top {
    position: relative;
    display: flex;
    justify-content: flex-start;
    background-color: #FFFFFF;
    z-index: 1;
}

.home-main-section__container__bottom {
    position: relative;
    background-color: #FFFFFF;
    z-index: 1;
}


.home-main-section__title-block {
    position: relative;
}

.home-main-section__title {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 48px;
    font-weight: 900;
    z-index: 2;
}

.hms-title__fon {
    position: absolute;
    top: 47px;
    left: 8px;
    width: 520px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 30px;
}

.hms-title__discr {
    padding: 100px 0px 50px 0px;
    width: 757px;
    font-size: 20px;
}

.home-main-section__title-block_big {
    position: relative;
    display: flex;
}

.home-main-section__title_big {
    width: 856px;
    font-size: 128px;
    font-weight: 900;
    line-height: 110px;
    margin-bottom: 80px;
}

.hms-title__logo {
    position: absolute;
    left: 747px;
    bottom: 66px;
}

.hms-bottom__img {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.top-bord {
    position: absolute;
    width: 700px;
    height: 320px;
    top: -50px;
    left: 0px;
    background: #F3DE09;
}

.bottom-bord {
    position: absolute;
    width: 640px;
    height: 350px;
    bottom: 0px;
    right: 0px;
    background: #F3DE09;
}

.top-shape {
    position: absolute;
    width: 350px;
    height: 320px;
    background: #F3DE09;
    bottom: 0;
    left: 700px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}


.bottom-shape {
    position: absolute;
    width: 350px;
    height: 350px;
    background: #F3DE09;
    bottom: 0;
    left: 290px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    transform: rotateY(180deg) rotateX(180deg);
}



@media only screen and (max-width: 1280px) {
     .container {
        width: 1000px;
    }

    .home-main-section__title_big {
        width: 680px;
        font-size: 92px;
        line-height: 110px;
    }

    .hms-title__logo {
        left: 510px;
        bottom: 72px;
    }

    .bottom-bord {
        width: 494px;
        height: 350px;
    }

    .bottom-shape {
        width: 350px;
        height: 351px;
        bottom: 0;
        left: 157px;
    }

    .top-bord {
        width: 702px;
        height: 320px;
        top: -50px;
    }
}


@media only screen and (max-width: 1024px) {
    .container {
        width: 960px;
    }

    .home-main-section__top {
        padding-top: 20px;
    }

    .home-main-section__title {
        font-size: 46px;
    }

    .home-main-section__bottom {
        background: linear-gradient(to right, #FFFFFF 60%, #F3DE09 40%);
    }

    .home-main-section__title_big {
        width: 680px;
        font-size: 92px;
        line-height: 110px;
    }

    .hms-title__logo {
        left: 510px;
        bottom: 72px;
    }

    .bottom-bord {
        width: 453px;
        height: 350px;
    }

    .bottom-shape {
        width: 350px;
        height: 351px;
        bottom: 0;
        left: 157px;
    }

    .top-bord {
        width: 544px;
        height: 290px;
        top: -20px;
    }

    .top-shape {
        left: 544px;
        width: 210px;
        height: 290px;
    }

    .hms-title__discr {
        width: 530px;
        font-size: 16px;
    }
}


@media only screen and (max-width: 960px) {
    .container {
        width: 800px;
    }
    .hms-title__logo {
        left: 344px;
        bottom: 63px;
    }

    .hms-title__fon {
        width: 520px;
    }

    .home-main-section__title_big {
        width: 366px;
        font-size: 64px;
        line-height: 77px;
    }

    .bottom-bord {
        width: 293px;
        height: 284px;
    }

}


@media only screen and (max-width: 800px) {
  .container {
    width: 640px;
  }

  .home-main-section {
    display: none;

  }
}





































@media only screen and (max-width: 1280px) {
  .feedback-section {
    width: 1000px;
    padding-top: 40px;
  }

  .ip-feedback-section-container__icon_second-icon {
    top: 130px;
    right: 40px;
    width: 240px;
    height: 240px;
  }

  .ip-feedback-section-container__icon_first-icon {
    top: 104px;
    right: 70px;
    width: 240px;
    height: 240px;
  }
}
@media only screen and (max-width: 1024px) {
  .feedback-section {
    width: 960px;
  }
}