@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

header {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0;
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
::placeholder {
  font-size: 16px;
}

section,
header,
footer {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.h1__visually {
  font-size: 0.1px;
}

.h1-min {
  font-size: 0.1px;
  line-height: 0.1px;
}

a,
a:visited {
  color: #282826;
}

a:hover {
  color: #B70610;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

.pp-page {
  font-size: 14px;
  line-height: normal;
}

.pp-page:hover {
  color: #282826;
}

.copyright {
  font-size: 14px;
  line-height: normal;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

body {
  font-family: "Mulish", sans-serif;
}

h2 {
  font-size: 32px;
}

.white_color {
  color: #ffffff;
}

.black_color {
  color: #282826;
}

.carousel-portfolio__comntainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 1000px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    width: 960px;
  }
}
.footer__container {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: flex;
  margin-bottom: 4px;
}

.footer-logo__text {
  font-size: 32px;
  font-weight: 600;
  color: #282826;
}

.footer-logo__text_colorSixth {
  color: #B70610;
}

.footer-logo-discr {
  width: 321px;
  font-size: 16px;
  font-weight: 200;
  color: #282826;
  margin-bottom: 20px;
}

.footer-phone-block,
.footer-phone-block__social {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-phone-block__icon {
  margin-right: 20px;
}

.footer-phone-block__content {
  margin-right: 20px;
}

.footer-phone-block__content__text {
  color: #282826;
}

.footer-phone-block__content__phone {
  font-size: 18px;
  font-weight: 600;
  color: #282826;
}

.icon-email,
.icon-telegram,
.icon-vk {
  width: 30px;
  height: 30px;
}

.icon-email,
.icon-telegram {
  margin-right: 8px;
}

.footer-content-block__title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer-content-block__link {
  display: block;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 4px;
}

.copyright-container {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px;
}

.line {
  width: 100%;
  border: 0.1px solid #E1E1E1;
  margin-bottom: 20px;
}

.copyright {
  font-size: 14px;
  font-weight: 200;
  color: #C3C1C1;
}

.header {
  margin-bottom: 40px;
}

.about-title-section__container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
}

.about-section__title {
  padding-top: 60px;
  font-size: 32px;
  font-weight: 600;
  color: #282826;
  margin-bottom: 8px;
}

.about-section__title-block {
  width: 50%;
}

.about-section__discr {
  width: 664px;
  font-size: 20px;
  font-weight: 300;
  color: #282826;
  margin-bottom: 40px;
}

.about-section__line-block {
  padding-top: 40px;
  padding-bottom: 40px;
}

.about-table-block__table {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.about-table-block__title {
  font-weight: 600;
  color: #282826;
  margin-bottom: 20px;
}

.about-file-block__container {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}

.square-block {
  display: flex;
  margin-right: 20px;
}

.square-block:not(:last-of-type) {
  margin-bottom: 20px;
}

.square-block__square {
  width: 30px;
  height: 30px;
  background-color: #E2E1DF;
}

.square-block__square:not(:last-of-type) {
  margin-right: 20px;
}

.square-block__square_accounting-system {
  background-color: #B70610;
}

.item__title {
  font-size: 22px;
  font-weight: 600;
  color: #282826;
}

.item__discription {
  font-size: 16px;
  font-weight: 100;
  color: #282826;
  margin-bottom: 20px;
}

.about-feedback-section-container__icon {
  position: relative;
  width: 50%;
}

.about-feedback-section-container__icon_second-icon {
  position: absolute;
  top: 30px;
  right: 60px;
  width: 250px;
  height: 250px;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
  border-radius: 50px;
  background-color: #B70610;
}

.about-feedback-section-container__icon_first-icon {
  position: absolute;
  top: 0px;
  right: 80px;
  width: 250px;
  height: 250px;
  border-radius: 50px;
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg);
  background: linear-gradient(140deg, #C5C5C5 0%, rgba(255, 255, 255, 0.5) 100%);
  z-index: 2;
}