@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Days One";
  src: url("../fonts/DaysOne-Regular.eot");
  src: local("Days One"), local("DaysOne-Regular"), url("../fonts/DaysOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DaysOne-Regular.woff2") format("woff2"), url("../fonts/DaysOne-Regular.woff") format("woff"), url("../fonts/DaysOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

header {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0;
  margin: 0;
}

.h1-min {
  font-size: 0.1px;
  line-height: 0.1px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  padding-left: 10px;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
::placeholder {
  padding-left: 0px;
  color: #696D70;
  font-size: 14px;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
  padding-left: 20px;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

body {
  background-color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-style: normal;
}

section,
header,
footer {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-bottom: 120px;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.h1__visually {
  font-size: 0.1px;
}

a,
a:visited {
  color: #000000;
}

a:hover {
  color: #000000;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

.mr-8 {
  margin-right: 8px;
}

.mb-20 {
  margin-bottom: 20px;
}

.flex-row {
  display: flex;
}

.right-banner,
.leftt-banner {
  display: flex;
}

.banner__big-line {
  width: 100px;
  height: 750px;
  background-color: #696D70;
}

.banner__min-line {
  width: 20px;
  height: 750px;
  background-color: #97A29B;
}

.section-title-block__title {
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-size: 48px;
  line-height: 61px;
  font-weight: 100;
}

.section-title-block__discr {
  width: 80%;
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.form-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 521px;
}

.form-block__title {
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: normal;
  margin-bottom: 20px;
}

.form-block__input {
  height: 40px;
  margin-bottom: 12px;
}

.form-message__textarea {
  margin-bottom: 12px;
}

.form__button {
  height: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  background-color: #696D70;
  color: #ffffff;
  margin-bottom: 20px;
}

.pp-page {
  font-size: 14px;
  line-height: normal;
  color: #97A29B;
}

.pp-page:hover {
  color: #000000;
}

.copyright {
  font-size: 14px;
  line-height: normal;
  color: #E0E3E4;
}

@media only screen and (max-width: 1554px) {
  .leftt-banner {
    display: none;
  }

  .right-banner {
    display: none;
  }
}
@media only screen and (max-width: 1280px) {
  .container {
    width: 1000px;
  }

  .section-title-block__title {
    font-size: 40px;
    line-height: normal;
  }

  .section-title-block__discr {
    width: 75%;
    font-size: 28px;
    line-height: normal;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    width: 800px;
  }
}
@media only screen and (max-width: 800px) {
  section {
    margin-bottom: 50px;
  }

  .container {
    width: 640px;
  }

  .section-title-block__discr {
    width: 100%;
    font-size: 24px;
  }
}
@media only screen and (max-width: 640px) {
  section {
    margin-bottom: 20px;
  }

  .container {
    width: 480px;
  }

  .section-title-block__title {
    font-size: 32px;
    line-height: normal;
  }

  .section-title-block__discr {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: 360px;
  }

  .section-title-block__title {
    font-size: 24px;
  }

  .section-title-block__discr {
    font-size: 16px;
  }
}
.aboutme-main-section {
  background-image: url(../../img/aboutme-page-img/aboutme-main-section__bg.png);
  background-repeat: no-repeat;
  background-position: right top;
  margin-bottom: 0px !important;
}

.aboutme-main-section-container {
  display: flex;
  align-items: flex-end;
}

.aboutme-social-block-list {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.aboutme-main-section__left-block {
  margin-right: 20px;
}

.aboutme-main-section__right-block {
  padding-bottom: 80px;
}

.aboutme-man-section__title {
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 46px;
  line-height: normal;
  color: #696D70;
}

.aboutme-ms-title__discr {
  margin-bottom: 30px;
  font-weight: 100;
  font-size: 28px;
  line-height: normal;
}

.aboutme-man-section__discr {
  width: 544px;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 22px;
  line-height: normal;
}

.specialization-list__title {
  margin-bottom: 12px;
  font-weight: 200;
  font-size: 22px;
  line-height: normal;
}

.aboutme-ms-discr__specialization-list {
  padding-left: 20px;
}

.specialization-list__item {
  font-weight: 200;
  font-size: 20px;
  line-height: normal;
  background-image: url(../../img/aboutme-page-img/item__img.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 40px;
}

.specialization-list__item:not(:last-of-type) {
  margin-bottom: 8px;
}

@media only screen and (max-width: 1280px) {
  .aboutme-main-section {
    background-image: url(../../img/aboutme-page-img/aboutme-main-section__bg_1280.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin-bottom: 0px !important;
  }

  .aboutme-main-section__right-block {
    padding-bottom: 40px;
  }

  .aboutme-man-section__title {
    font-size: 34px;
  }

  .aboutme-ms-title__discr {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .aboutme-man-section__discr {
    width: 405px;
    font-size: 19px;
    margin-bottom: 18px;
  }

  .specialization-list__title {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .specialization-list__item {
    font-size: 18px;
    background-image: url(../../img/aboutme-page-img/item__img.png);
    padding-left: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .aboutme-main-section {
    background-image: url(../../img/aboutme-page-img/aboutme-main-section__bg_1024.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin-bottom: 0px !important;
  }

  .aboutme-social-block-list {
    margin-right: 8px;
  }

  .aboutme-ms-discr__specialization-list {
    padding-left: 4px;
  }

  .aboutme-main-section__left-block {
    margin-right: 8px;
  }

  .aboutme-main-section__right-block {
    padding-bottom: 0px;
  }

  .aboutme-man-section__title {
    font-size: 28px;
  }

  .aboutme-ms-title__discr {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .aboutme-man-section__discr {
    width: 316px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .specialization-list__title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .specialization-list__item {
    font-size: 14px;
    background-image: url(../../img/aboutme-page-img/item__img_800.png);
    padding-left: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .man-section__img {
    display: none;
  }
}
.about-section {
  margin-bottom: 0px !important;
}

.about-section__title-block {
  display: flex;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 100px;
}

.as-title-block__line {
  margin-right: 40px;
  width: 1000px;
  height: 5px;
  background-color: #696D70;
}

.as-title-block__title {
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-size: 56px;
  color: #696D70;
}

.about-section__text-block {
  margin-bottom: 50px;
}

.as-text-block__item {
  margin-bottom: 32px;
  font-size: 24px;
  line-height: normal;
  font-weight: 200;
}

.as-text-block__bottom-slogan {
  margin-bottom: 100px;
  font-size: 28px;
  font-weight: 500;
  font-style: italic;
  text-align: right;
}

.bold {
  font-weight: 400;
}

.about-section__bottom-border-block {
  width: 100%;
  display: flex;
}

.as-bottom-border-block__left-block {
  width: 70%;
  height: 20px;
  background-color: #F7F7F7;
}

.as-bottom-border-block__right-block {
  width: 30%;
  height: 20px;
  background-color: #696D70;
}

@media only screen and (max-width: 1680px) {
  .about-section__text-block {
    margin-bottom: 100px;
  }

  .as-text-block__item {
    margin-bottom: 28px;
    font-size: 24px;
  }
}
@media only screen and (max-width: 1440px) {
  .as-title-block__line {
    width: 800px;
  }

  .about-section__text-block {
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 1280px) {
  .as-title-block__line {
    width: 800px;
  }

  .as-title-block__title {
    font-size: 44px;
    line-height: 56px;
  }

  .about-section__text-block {
    padding-left: 20px;
    padding-right: 20px;
  }

  .as-text-block__item {
    margin-bottom: 28px;
    font-size: 22px;
    line-height: 28px;
  }
}
@media only screen and (max-width: 1024px) {
  .as-title-block__line {
    width: 580px;
  }

  .as-text-block__item {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 800px) {
  .about-section__title-block {
    padding-top: 20px;
    margin-bottom: 40px;
  }

  .as-title-block__line {
    margin-right: 32px;
    width: 460px;
  }

  .as-title-block__title {
    font-size: 32px;
    line-height: 41px;
  }

  .about-section__text-block {
    margin-bottom: 50px;
  }

  .as-text-block__item {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 20px;
  }

  .as-text-block__bottom-slogan {
    font-size: 20px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 704px) {
  .about-section__title-block {
    padding-top: 120px;
  }
}
@media only screen and (max-width: 645px) {
  .about-section__title-block {
    padding-top: 60px;
  }

  .as-title-block__line {
    margin-right: 32px;
    width: 320px;
  }
}
@media only screen and (max-width: 480px) {
  .about-section__text-block {
    padding-left: 10px;
    padding-right: 0px;
  }

  .as-title-block__line {
    margin-right: 32px;
    width: 170px;
  }

  .as-title-block__title {
    font-size: 24px;
    line-height: 31px;
  }

  .as-bottom-border-block__left-block {
    height: 10px;
  }

  .as-bottom-border-block__right-block {
    height: 10px;
  }
}
.labor-main-section {
  margin-bottom: 16px;
}

.labor-main-section__container {
  display: flex;
  justify-content: space-between;
}

.lms-left-block {
  display: flex;
  align-items: center;
  padding-left: 87px;
}

.lms-title-block__title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  color: #9F3138;
}

.lms-title-block__discription {
  width: 343px;
  font-size: 16px;
  line-height: 2opx;
  font-weight: 300;
  margin-bottom: 48px;
}

.lms-title-block__button {
  width: 235px;
  height: 40px;
}

.lms-right-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 575px;
  height: 350px;
  flex-shrink: 0;
  padding-left: 28px;
}

.lms-right-block__img {
  position: absolute;
  bottom: -70px;
  right: -90px;
}

.windows-phone-block {
  margin-bottom: 84px;
}

.windows-phone-block__code-sity {
  font-size: 20px;
  font-weight: 400;
}

.windows-phone-block__numder-list {
  display: flex;
}

.windows-phone-block__number-item {
  width: 30px;
  height: 60px;
  border-radius: 4px;
  color: #9F3138;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.windows-phone-block__number-item:not(:last-of-type) {
  margin-right: 4px;
}

.windows-phone-block__number-item:nth-child(3),
.windows-phone-block__number-item:nth-child(5) {
  margin-right: 8px;
}

.slogan-block__line {
  font-size: 20px;
  font-weight: 500;
}

.first-line {
  color: #DE84A2;
}

.second-line {
  color: #FFFFFF;
}

@media only screen and (max-width: 1280px) {
  .lms-left-block {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1024px) {
  .labor-main-section__container {
    position: relative;
    justify-content: flex-end;
  }

  .lms-left-block {
    position: absolute;
    top: 20px;
    left: 45px;
    z-index: 100;
  }

  .lms-right-block {
    width: 100%;
    padding-left: 210px;
  }

  .lms-title-block__discription {
    color: #DE84A2;
    margin-bottom: 186px;
  }

  .lms-title-block__button {
    width: 235px;
    height: 40px;
  }

  .windows-phone-block {
    padding-top: 20px;
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 768px) {
  .lms-left-block {
    left: 65px;
  }

  .lms-right-block {
    padding-left: 24px;
  }

  .nav-header-list__active {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .lms-left-block {
    left: 45px;
  }

  .lms-right-block__img {
    display: none;
  }

  .lms-title-block__discription {
    width: 320px;
  }

  .windows-phone-block {
    padding-top: 120px;
  }

  .lms-right-block {
    padding-left: 24px;
    height: 395px;
  }
}
.labor-suot-section {
  background-color: #F7F7F7;
  padding-bottom: 40px;
  margin-bottom: 100px;
}

.labor-suot-section__title {
  font-size: 34px;
  padding-top: 24px;
  margin-bottom: 40px;
}

.block-content-ss {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.suot-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  background-color: #ffffff;
  border: 1px solid #696D70;
}

.suot-card:not(:last-of-type) {
  margin-right: 20px;
}

.suot-card__left-part {
  width: 320px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.left-part-sc__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-right: 10px;
  padding-left: 24px;
  margin-bottom: 24px;
}

.left-part-sc__list {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  margin-bottom: 40px;
}

.left-part-sc__item {
  padding-right: 12px;
  padding-left: 24px;
  font-size: 16px;
  font-weight: 300;
  background-image: url(../../img/labor-page-img/suot-card-icon.svg);
  background-repeat: no-repeat;
  background-position: left top 4px;
}

.left-part-sc__item:not(:last-of-type) {
  margin-bottom: 12px;
}

.suot-card__bottom-part {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 250px;
  height: 54px;
  background-color: #9F3138;
}

.left-part-sc__button {
  width: 250px;
  height: 48px;
  padding: 4px 24px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #9F3138;
}

@media only screen and (max-width: 1280px) {
  .labor-suot-section__title {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1024px) {
  .suot-card__none {
    display: none;
  }

  .suot-card:not(:nth-child(3)) {
    margin-bottom: 20px;
  }

  .suot-card:nth-child(2) {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .suot-card__none {
    display: inherit;
  }

  .suot-card {
    width: 100%;
  }

  .suot-card:not(:last-of-type) {
    margin-right: 0px;
  }

  .suot-card__left-part {
    width: calc(100% - 64px);
  }
}
.labor-control-section__container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  background-color: #F7F7F7;
  margin-bottom: 20px;
}

.labor-control-section__img {
  position: absolute;
  bottom: -20px;
  right: 0px;
}

.labor-control-section__title {
  margin-bottom: 20px;
}

.labor-control-section__discr {
  font-size: 20px;
  width: 406px;
  margin-bottom: 94px;
}

.labor-control-section__slogan {
  color: #9F3138;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.labor-control-section__slogan_light {
  color: #CA6486;
}

.labor-control-section__card-block {
  display: flex;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.card-lcs {
  width: 413px;
}

.card-lcs:not(:last-of-type) {
  margin-right: 20px;
  margin-bottom: 20px;
}

.card-lcs__bady {
  width: 100%;
  height: 400px;
  padding-top: 24px;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #F7F7F7;
}

.card-lcs__icon {
  margin-bottom: 30px;
}

.card-lcs__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.card-lcs__discr {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card-lcs__border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  background-color: #696D70;
}

.card-lcs__border_discr {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
}

@media only screen and (max-width: 1280px) {
  .card-lcs {
    width: 320px;
  }
}
@media only screen and (max-width: 1024px) {
  .card-lcs {
    width: 374px;
  }

  .card-lcs:nth-child(2) {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .labor-control-section__discr {
    width: 100%;
  }

  .labor-control-section__img {
    display: none;
  }

  .card-lcs {
    width: 100%;
  }

  .card-lcs:not(:last-of-type) {
    margin-right: 0px;
  }
}
.labor-information-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.labor-information-section__title {
  font-family: "Days One", "Roboto Condensed", sans-serif;
  color: #696D70;
  margin-bottom: 4px;
}

.labor-information-section__discr-block {
  display: flex;
}

.discr-block-lis__card {
  padding-top: 20px;
  border-top: 1px solid #D9D9D9;
}

.discr-block-lis__card1 {
  width: 847px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.db-lis-card__title {
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

.db-lis-card__text {
  width: 490px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 24px;
}

.discr-block-lis__card2 {
  width: 413px;
}

.db-lis-card__text_card2 {
  width: 269px;
}

.discr-block-lis__card3,
.discr-block-lis__card4 {
  width: 630px;
}

.discr-block-lis__card3 {
  margin-right: 20px;
}

.db-lis-card__text_card3,
.db-lis-card__text_card4 {
  width: 370px;
}

@media only screen and (max-width: 1280px) {
  .discr-block-lis__card1 {
    width: 660px;
  }

  .discr-block-lis__card2 {
    width: 320px;
  }

  .discr-block-lis__card3,
.discr-block-lis__card4 {
    width: 490px;
  }
}
@media only screen and (max-width: 1024px) {
  .discr-block-lis__card1 {
    width: 505px;
  }

  .discr-block-lis__card2 {
    width: 243px;
  }

  .discr-block-lis__card3,
.discr-block-lis__card4 {
    width: 374px;
  }

  .db-lis-card__title {
    font-size: 20px;
  }

  .db-lis-card__text {
    width: 382px;
  }

  .db-lis-card__text_card2 {
    width: 243px;
  }

  .db-lis-card__text_card3,
.db-lis-card__text_card4 {
    width: 315px;
  }
}
@media only screen and (max-width: 768px) {
  .labor-information-section__discr-block {
    flex-direction: column;
  }

  .discr-block-lis__card1,
.discr-block-lis__card2,
.discr-block-lis__card3,
.discr-block-lis__card4 {
    width: 100%;
  }

  .db-lis-card__text,
.db-lis-card__text_card2,
.db-lis-card__text_card3,
.db-lis-card__text_card4 {
    width: 70%;
  }
}
.supply-title-block {
  display: flex;
  margin-bottom: 40px;
}

.supply-title-block__border {
  width: 20px;
  height: 120px;
  background-color: #9F3138;
  margin-right: 64px;
}

.supply-title-block__text {
  width: 488px;
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 51px;
  color: #9F3138;
}

.question1,
.question2,
.question3,
.question4,
.question5,
.question6,
.supply-title-block_mobile,
.supply-title-block__border_mobile,
.supply-title-block__text_mobile {
  display: none;
}

.supply-outsourcing-section {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  margin-bottom: 80px;
}

.supply-outsourcing-container {
  display: flex;
  justify-content: space-between;
}

.block-content {
  width: 510px;
}

.supply-outsourcing__discr {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
}

.supply-outsourcing__discr:not(:last-of-type) {
  margin-bottom: 20px;
}

.outsourcing-discr__list {
  padding-left: 48px;
}

.outsourcing-discr__item {
  padding-left: 40px;
  background-image: url(../img/supply-page-img/check-circle.svg);
  background-repeat: no-repeat;
  background-position: left top 1.8px;
}

.outsourcing-discr__item:not(:last-of-type) {
  margin-bottom: 12px;
}

.supply-img-block {
  padding-top: 30px;
}

.img-block {
  position: relative;
  width: 405px;
  height: 460px;
  background-image: url(../img/supply-page-img/supply-block-img_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.fon-block {
  position: absolute;
  top: -30px;
  left: 100px;
  width: 235px;
  height: 520px;
  background-color: #9F3138;
  z-index: -1;
}

.min-img-block {
  position: absolute;
  top: 30px;
  left: -80px;
  width: 134px;
  height: 134px;
  border: 8px solid #9F3138;
  background-image: url(../img/supply-page-img/supply-block-img_min1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 1024px) {
  .block-content {
    width: 374px;
  }

  .supply-outsourcing__discr {
    font-size: 18px;
    line-height: 23px;
  }

  .img-block {
    width: 373px;
    height: 460px;
  }

  .fon-block {
    top: -30px;
    left: 55px;
  }

  .min-img-block {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .supply-outsourcing-section {
    flex-direction: column;
  }

  .block-content {
    width: 340px;
    margin-right: 8px;
  }

  .supply-outsourcing__discr {
    font-size: 17px;
    line-height: 21px;
  }

  .img-block {
    width: 340px;
    height: 460px;
  }

  .fon-block {
    top: -30px;
    left: 55px;
  }
}
@media only screen and (max-width: 670px) {
  .supply-img-block {
    display: none;
  }

  .block-content {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .supply-outsourcing-container {
    flex-direction: column;
    align-items: center;
  }

  .supply-img-block {
    display: none;
  }

  .supply-outsourcing-section {
    margin-bottom: 20px;
  }
}
.supply-blocktop-img {
  display: flex;
  justify-content: space-between;
  background-color: #E0E3E4;
  margin-bottom: 40px;
}

.supply-blocktop-img__big-img {
  margin-right: 20px;
}

.supply-task-section {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}

.background-block {
  width: 630px;
  height: 560px;
  padding: 50px 140px 50px 65px;
  background-color: #696D70;
}

.background-block__content {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #E0E3E4;
}

.background-block__content:not(:last-of-type) {
  margin-bottom: 12px;
}

@media only screen and (max-width: 1280px) {
  .background-block {
    width: 100%;
    height: 100%;
    padding: 50px 20px 50px 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .supply-task-section {
    flex-direction: column;
    align-items: flex-end;
  }

  .supply-title-block_task {
    width: 100%;
  }

  .background-block {
    width: 100%;
    height: 100%;
    padding: 50px 20px 50px 20px;
  }
}
@media only screen and (max-width: 768px) {
  .supply-title-block_task,
.supply-title-block__border_task,
.supply-title-block__text_task {
    display: inherit !important;
  }

  .supply-blocktop-img__mini-img {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .supply-blocktop-img__mini-img,
.supply-blocktop-img__big-img {
    display: none;
  }

  .supply-title-block__text_task {
    font-size: 28px !important;
    line-height: 36px !important;
  }

  .background-block__content {
    font-size: 17px;
    line-height: 20px;
  }
}
.supply-accounting-section {
  margin-bottom: 140px;
}

.supply-accounting-section__container {
  display: flex;
  justify-content: space-between;
}

.supply-accounting-section__block-img {
  position: relative;
  width: 50%;
}

.sas-block-img__border {
  width: 280px;
  height: 220px;
  background-color: #696D70;
}

.sas-block-img__img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
}

.supply-title-block__accounting-section {
  display: flex;
  flex-direction: column-reverse;
}

.supply-title-block__text_accounting-section {
  margin-bottom: 18px;
}

.supply-accounting-section__title-border {
  width: 190px;
  height: 10px;
}

.supply-outsourcing__discr_accounting-section {
  font-size: 32px;
  font-weight: 700;
}

.accounting-discr__item {
  margin-bottom: 40px;
}

@media only screen and (max-width: 1280px) {
  .supply-accounting-section__block-img {
    width: 45%;
  }
}
@media only screen and (max-width: 768px) {
  .supply-accounting-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .block-content {
    width: 100%;
  }

  .supply-accounting-section__block-img {
    margin-bottom: 100px;
  }

  .sas-block-img__border {
    width: 280px;
    height: 200px;
  }
}
@media only screen and (max-width: 663px) {
  .supply-accounting-section__block-img {
    display: none;
  }
}
.supply-question-section__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.supply-title-block__question-section {
  flex-direction: row-reverse;
  align-items: center;
  position: absolute;
  top: 180px;
  left: -190px;
  transform: rotate(-90deg);
}

.supply-title-block__border_question-section {
  width: 157px;
  height: 20px;
}

.supply-title-block__text_question-section {
  width: auto;
  margin-right: 22px;
}

.question-list__item {
  display: flex;
}

.question-list__item:not(:last-of-type) {
  margin-bottom: 22px;
}

.question-list__item_number {
  width: 65px;
  height: 65px;
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #E0E3E4;
  background-color: #9F3138;
  margin-right: 12px;
}

.question-list__item_question {
  display: flex;
  align-items: center;
  width: 660px;
  height: 65px;
  padding-left: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  border: 1px solid #696D70;
  background-image: url(../img/supply-page-img/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: right 20px bottom 10px;
  cursor: pointer;
}

.question-list__item_answer {
  width: 660px;
  padding-left: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .supply-title-block__question-section {
    align-items: flex-start;
    position: absolute;
    top: 10px;
    left: 5vw;
    transform: rotate(0deg);
  }

  .supply-question-section__content-block {
    padding-top: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .question-list__item_question {
    width: 562px;
    height: 65px;
    padding-left: 22px;
    font-size: 28px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 680px) {
  .supply-question-section__content-block {
    width: 100%;
    padding-left: 20px;
  }

  .question-list__item_number {
    display: none;
  }

  .question-list__item_question {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    font-size: 17px;
    line-height: 21px;
  }

  .question-list__item_question {
    background-position: right 5px bottom 0px;
  }

  .question-list__item_answer {
    width: 100%;
    padding: 0px 20px 20px 20px;
    font-size: 17px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 360px) {
  .question-list__item_question {
    width: 320px;
    height: 40px;
  }

  .question-list__item_answer {
    width: 320px;
    padding-left: 10px;
  }
}
.supply-request-section__container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.form-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 491px;
}

.form-block__title {
  font-family: "Days One";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 56px;
  color: #696D70;
  margin-bottom: 20px;
}

.form-block__input {
  margin-bottom: 12px;
}

.form-message__textarea {
  margin-bottom: 12px;
}

.footer__button {
  height: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  background-color: #696D70;
  color: #E0E3E4;
}

.request-section__img-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 410px;
}

.request-section__img-block_border {
  width: 240px;
  height: 20px;
  background-color: #696D70;
}

@media only screen and (max-width: 1024px) {
  .form-block {
    width: 374px;
    margin-right: 20px;
  }

  .form-block__title {
    font-size: 40px;
    line-height: 51px;
  }
}
@media only screen and (max-width: 768px) {
  .supply-request-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-block {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .request-section__img-block {
    display: none;
  }

  .form-block__title {
    font-size: 28px;
    line-height: 36px;
  }
}
@media only screen and (max-width: 1024px) {
  .supply-title-block {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .supply-title-block__border {
    width: 120px;
    height: 20px;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .supply-title-block__text {
    width: 376px;
    font-size: 38px;
    line-height: 48px;
  }
}
@media only screen and (max-width: 768px) {
  .supply-title-block,
.supply-title-block__border,
.supply-title-block__text {
    display: none;
  }

  .put-none {
    display: inherit !important;
  }

  .supply-title-block_mobile {
    display: inherit;
    display: flex;
    padding-left: 20px;
    margin-bottom: 40px;
  }

  .supply-title-block__border_mobile {
    display: inherit;
    width: 20px;
    height: 120px;
    background-color: #9F3138;
    margin-right: 30px;
  }

  .supply-title-block__text_mobile {
    display: inherit;
    width: 488px;
    font-family: "Days One", "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    color: #9F3138;
  }
}
@media only screen and (max-width: 480px) {
  .supply-title-block_mobile {
    padding-left: 20px;
    margin-bottom: 40px;
  }

  .supply-title-block__border_mobile {
    width: 20px;
    height: 80px;
    margin-right: 20px;
  }

  .supply-title-block__text_mobile {
    font-size: 28px;
    line-height: 36px;
  }
}
.footer {
  padding-bottom: 50px;
  background-color: #696D70;
}

.footer__continer {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px 60px 0px;
}

.footer__left-block {
  display: flex;
  align-items: flex-start;
  width: 500px;
}

.footer-logo-icon {
  margin-right: 20px;
}

.footer-contact__item,
.footer-contact__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #E0E3E4;
}

.footer-contact__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-contact__item:first-child {
  font-size: 22px;
}

.footer-contact__item {
  margin-bottom: 2px;
}

.footer-contact__item:nth-last-child(2) {
  margin-bottom: 40px;
}

.social-block-list {
  display: flex;
}

.social-block-list__icon:not(:last-of-type) {
  margin-right: 12px;
}

.footer-nav-list {
  margin-bottom: 40px !important;
}

.footer-nav-list__title {
  font-size: 20px;
  line-height: normal;
  font-weight: 400;
  color: #E0E3E4;
  margin-bottom: 20px;
}

.footer-nav-list__item {
  font-size: 18px;
  line-height: normal;
  font-weight: 200;
  color: #ffffff;
}

.footer-nav-list__item:not(:last-of-type) {
  margin-bottom: 8px;
}

.footer-nav-link {
  color: #E0E3E4 !important;
}

.footer-nav-link:hover {
  font-weight: 600;
  color: #ffffff !important;
}

.footer-tel-block {
  display: flex;
  align-items: flex-end;
}

.tel-min {
  font-size: 20px;
  line-height: 54px;
  margin-right: 20px;
  color: #E0E3E4;
}

.tel-big {
  font-family: "Days One", "Roboto Condensed", sans-serif;
  font-size: 48px;
  color: #E0E3E4;
  margin-right: 20px;
}

@media only screen and (max-width: 1280px) {
  .tel-big {
    font-size: 44px;
  }
}
@media only screen and (max-width: 1024px) {
  .footer-section__right-block {
    width: 50%;
  }

  .footer-tel-block {
    align-items: center;
  }

  .tel-min {
    font-size: 18px;
    line-height: normal;
    margin-right: 8px;
  }

  .tel-big {
    font-size: 32px;
    margin-right: 8px;
    text-align: end;
  }
}
@media only screen and (max-width: 800px) {
  .footer__continer {
    flex-direction: column;
  }

  .footer__left-block {
    margin-bottom: 40px;
  }

  .footer-section__right-block {
    width: 100%;
    padding-left: 60px;
  }

  .copyright {
    padding-left: 60px;
  }
}
@media only screen and (max-width: 640px) {
  .footer__left-block {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .footer-section__right-block {
    padding-left: 0px;
  }

  .copyright {
    padding-left: 0px;
  }
}