@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

header {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 0;
  margin: 0;
}

.h1-min {
  font-size: 0.1px;
  line-height: 0.1px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Mulish", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #D5DAE0;
}

.main-section {
  padding-top: 35px;
}

.container {
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  padding-top: 45px;
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.square {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #8E9934;
}

.square:not(:last-of-type) {
  margin-right: 4px;
}

.square:last-of-type {
  margin-right: 20px;
}

.menu-header__list {
  display: flex;
  align-items: center;
}

.menu-header__item {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid #8E9934;
  color: #342F2C;
  cursor: pointer;
}

.menu-header__item:hover {
  border-bottom: 1px solid #F5EA29;
}

.menu-header__item:not(:last-of-type) {
  margin-right: 20px;
}

.card {
  position: relative;
  margin-bottom: 20px;
}

.card__number-block {
  position: relative;
  width: 197px;
  height: 197px;
  border-radius: 20px;
  background-color: #8E9934;
  z-index: 1;
}

.c-number-block__triangle {
  position: absolute;
  bottom: -21px;
  left: 87.5px;
}

.c-number-block__number {
  position: absolute;
  top: 50px;
  left: 60px;
  font-family: "Black Ops One", system-ui;
  font-size: 64px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  z-index: 2;
}

.c-number-block__fon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 217px;
  height: 217px;
  border-bottom-right-radius: 20px;
  background-color: #D5DAE0;
  z-index: 0;
}

.card__discription-fon_01 {
  width: 600px;
  height: 233px;
  border-radius: 0px 0px 0px 20px;
  background-color: #FFFFFF;
}

.card__discription-fon_02 {
  position: absolute;
  bottom: 0px;
  left: 217px;
  width: 413px;
  height: 430px;
  padding-top: 30px;
  border-radius: 20px 20px 20px 0px;
  background-color: #FFFFFF;
  z-index: 1;
}

.card__icon {
  margin-left: auto;
  margin-right: auto;
}

.card__discription {
  padding-top: 60px;
  padding-left: 60px;
  z-index: 5;
}

.cdt__icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
  z-index: 6;
}

.card-discription__title {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  color: #8E9934;
  z-index: 6;
}

.card-discription__discr {
  position: absolute;
  padding-top: 40px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #342F2C;
  width: 528px;
  z-index: 6;
}