//-- Шрифты
$font-family: "Mulish", serif;
$font-title: "Roboto Condensed", serif;


// ------ Цветовая политра --
$palitra_1: #F3DE09;
$palitra_2: #1D252C;
$palitra_3: #6F7172;
$palitra_4: #DFE0E1;
$palitra_5: #F7F7F5;

